/**
 * Theme based on Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #8083A4;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro',
Helvetica,
sans-serif;
$headingFont: 'Source Sans Pro',
Helvetica,
sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

.image-cropper {
    overflow: hidden;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.profil-image {
    width: 100px !important;
    height: 100px !important;
    margin: auto !important;
    vertical-align: middle !important;
}

.logos-rs {
    width: 50px !important;
    height: 50px !important;
    margin: auto !important;
    vertical-align: middle !important;
}

.logo-ovhcloud {
    width: 80px !important;
    height: 80px !important;
    margin: auto !important;
    vertical-align: middle !important;
}

.column-break {
    column-count: 2;
    text-align: start;
}

.duchess {
    display: inline;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 150px;
    height: 100px;
}

.prez {
    display: flex;
    margin-top: 9%;
    margin-left: -10%;
    width: 120%;
}

.img-position {
    object-position: 60% 40%;
}

.prez-history {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
}

// Background generator
@mixin bodyBackground() {
    @include vertical-gradient(#00074C, #8083A4);
}

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------